/* index page - Brian */


/* for the title and header sections */

.titleImage {
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'header header';
    background-color: rgba(135, 206, 235, 0.7);
    border-radius: 5px;
}

.titleCenter {
    position: absolute;
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    font-size: 6vw;
    color: rgba(145, 7, 7);
    top: 20px;
    right: 100px;
}

#introductionTitle {
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    font-size: 4vw;
    color: rgba(145, 7, 7);
    background-color: rgba(145, 7, 7, 0.3);
    border-radius: 10px;
}

.introductionMain {
    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
    color: rgba(145, 7, 7);
    background-color: rgba(145, 7, 7, 0.1);
    border-radius: 10px;
    padding: 2px;
    border: 3px solid black;
}

.introductionSecondary {
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8vw;
    color: rgb(39, 4, 85);
    padding: 5px;
    border-radius: 5px;
}

.introductionTable {
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8vw;
    color: rgb(39, 4, 85);
    background-color: rgba(135, 206, 235, 0.4);
    padding: 5px;
    border-radius: 5px;
}

th {
    text-align: left;
}

dt {
    background-color: rgba(135, 206, 235, 0.8);
}


/* all pages - Brian */


/* for the title and header sections */

.navGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    background-color: rgba(24, 125, 207, 0.9);
    padding: 10px;
}

.navGrid>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: calc(10px + 1.0vw);
    font-weight: bold;
}


/* index page - Farooq */


/* for rides and shows */


/* page 2 - Veronica */


/* accommodations page - page 2 */

.grid1-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(24, 125, 207, 0.9);
    padding: 10px;
}

.grid1-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(24, 125, 207, 0.9);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


/* page 3 - Juan */


/* plan page, page 3 */

#services {
    font-size: 20px;
}


/* all pages - Brian */


/* footer styles */

.footerLink {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 4px;
    border-width: 0px;
    background-color: rgba(24, 125, 207, 0.9);
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: calc(8px + 0.4vw);
    font-weight: bold;
    text-align: left;
    padding: 1px 1px;
    text-decoration: none;
}

.footerLink>a:hover {
    background-color: rgba(145, 7, 7);
}


/* extra - Brian */


/* attractions page; secondar to main three pages */

.attractionsImage {
    position: relative;
    text-align: left;
    opacity: 0.8;
}


/* extra - Brian */


/* services page; secondary to main three pages */

.contacts {
    display: inline;
    font-size: 14px;
    padding: 10px;
}


/* all pages - Brian */


/* web accessibility for adjusting viewport */

@media screen and (max-width: 1000px) {
    li>a {
        padding: 4px 50px;
    }
}

@media screen and (max-width: 900px) {
    li>a {
        padding: 4px 46px;
    }
}

@media screen and (max-width: 800px) {
    li>a {
        padding: 4px 42px;
    }
}

@media screen and (max-width: 700px) {
    li>a {
        padding: 4px 38px;
    }
}

@media screen and (max-width: 600px) {
    li>a {
        padding: 3.6px 34px;
    }
}

@media screen and (max-width: 500px) {
    li>a {
        padding: 3.6px 30px;
    }
}

@media screen and (max-width: 400px) {
    li>a {
        padding: 3.2px 26px;
    }
}

@media screen and (max-width: 300px) {
    li>a {
        padding: 3.2px 22px;
    }
}

@media screen and (max-width: 200px) {
    li>a {
        padding: 2.8px 18px;
    }
}

@media screen and (max-width: 100px) {
    li>a {
        padding: 2.8px 14px;
    }
}