/* Yokoso Anime */


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

	1. Fonts
	2. Elements
	3. Header
	4. Home
	5. Page 2: Accommodations
	6. Page 3
	7. Page: Attractions
	8. Page: Services
	9. Footer
    10. Responsive

----------------------------------------------------------------------------- */


/* 1. Fonts */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* 2. Elements */

th {
    text-align: left;
}

dt {
    background-color: rgba(41, 138, 205, 0.8);
}


/* 3. Header */

#header {
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'header header';
    background-color: rgba(41, 138, 205, 0.6);
    border-radius: 5px;
    margin-bottom: 20px;
}

.imageresponsive {
    max-width: 80%;
    max-height: 100%;
}

#header img {
    width: 800px;
    height: 300px;
}

.titleCenter {
    position: absolute;
    font-family: "Chewy", cursive;
    text-align: center;
    font-size: 6vw;
    color: rgba(145, 7, 7);
    top: 10px;
    right: 100px;
}

.navGrid {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(1rem, 25rem));
    grid-gap: 5px;
    background-color: rgba(41, 138, 205, 0.9);
    padding: 5px;
}

.navGrid>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: rgba(19, 54, 108);
    word-wrap: break-word;
    font-weight: bold;
}

.navGrid>div>a {
    text-decoration: none;
}

.navGrid>div>a:hover {
    background-color: #61ad9880;
    text-decoration: underline overline dotted rgba(42, 80, 75);
}


/* 4. Home */


/* Main page title with external font*/

#titlePrimary {
    text-align: center;
    font-family: "Chewy", cursive;
    font-size: calc(10px + 2vw);
    color: rgba(19, 54, 108);
}

.titleSecondary {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1.4vw);
    color: rgba(19, 54, 108);
}

#introductionTitle {
    font-family: "Chewy", cursive;
    text-align: center;
    font-size: calc(10px + 3vw);
    color: rgba(145, 7, 7);
    /* background-color: #61ad9890; */
    border-radius: 5px;
}

.neon {
    color: #61ad98;
    text-shadow: 0 0 50px #61ad98, 0 0 50px #61ad98, 0 0 50px #61ad98, 0 0 50px #61ad98, 0 0 80px #61ad98, 0 0 90px #61ad98, 0 0 200px #61ad98, 0 0 300px #61ad98;
}

.introductionMain {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1.4vw);
    color: rgba(145, 7, 7);
    background-color: #61ad9890;
    border-radius: 10px;
    padding: 2px;
    border: 3px solid #2a504b;
}

.introductionSecondary {
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: rgb(19, 54, 108);
    padding: 5px;
    border-radius: 5px;
}

.introductionTable {
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: rgb(19, 54, 108);
    background-color: rgba(41, 138, 205, 0.6);
    padding: 5px;
    border-radius: 5px;
}

.gifresponsive {
    float: right;
    max-width: 60%;
    max-height: 60%;
    z-index: -1;
}

.gifcontainer {
    position: relative;
}

.giftext {
    position: absolute;
    top: 1px;
    right: 10px;
    font-family: "Chewy", cursive;
    font-size: calc(8px + 2vw);
    color: rgb(145, 7, 7);
    margin: 1px;
}


/* 5. Page 2: Accommodations Veronica Torrens */

.accommodationImage img {
    width: 640px;
    height: 400px;
}


/* Accomodation Grids Titles-Subtitles  Font and Color-uses external font*/

.grid1-item h2 {
    text-align: left;
    font-family: "Chewy", cursive;
    font-size: 2vw;
    color: rgba(19, 54, 108);
}

.grid-item label {
    text-align: left;
    font-family: "Chewy", cursive;
    font-size: calc(8px + 1.4vw);
    color: rgba(42, 80, 75);
}


/*Accomodations Grids formatting*/

.grid1-container {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(41, 138, 205, 0.9);
    padding: 10px;
}

.grid1-item {
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1.4vw);
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(41, 138, 205, 0);
    border: 4px solid rgba(0, 0, 0, 1);
    padding: 10px;
    font-size: calc(8px + 1.4vw);
}

.grid-item {
    background-color: rgba(97, 173, 152, 0.6);
    border: 2px solid rgba(0, 0, 0);
    padding: 20px;
    font-size: calc(8px + 1.4vw);
    text-align: center;
}


/* 6. Page 3 Plan Your Visit Juan J Dominguez*/

.services2 {
    font-size: calc(8px + 1.2vw);
    font-family: 'Roboto', sans-serif;
}

.contacts {
    display: inline;
    font-size: calc(8px + 1.2vw);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.contacts2 {
    display: inline;
    font-size: 0.8vw;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}


/* ------------------------------------------------------------------------------------- */


/* Begining of style for page 3.html */


/* ------------------------------------------------------------------------------------- */


/* background style for all sections */


/* ------------------------------------------------------------------------------------- */

.tickets,
.reservation,
.map,
.transportation,
.services,
.todayContainer,
.todayContainer {
    background-color: rgba(97, 173, 152, 0.6);
    padding: 0%;
    border-left: 19px solid #2196F3;
    border-right: 19px solid #2196F3;
    border-top: 19px solid #2196F3;
    margin: 0px;
    box-sizing: border-box;
}

.ticketsType {
    background-color: rgba(97, 173, 152, 0.6);
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    border-top: 19px solid #2196F3;
    margin: 0px;
    box-sizing: border-box;
}


/* ------------------------------------------------------------------------------------- */


/* font style for all sections excluding title and subtitle */


/* ------------------------------------------------------------------------------------- */

.grlFamily {
    font-family: 'Roboto', sans-serif;
}


/* ------------------------------------------------------------------------------------- */


/* font style for title and subtitle  */


/* ------------------------------------------------------------------------------------- */

.ttleFamily {
    font-family: "Chewy", cursive;
}


/* ------------------------------------------------------------------------------------- */


/* font size all title  */


/* ------------------------------------------------------------------------------------- */

h1.ticketsTitle,
h1.servicesTitle {
    font-size: 4vw;
    clear: both;
    font-weight: bold;
    color: rgba(19, 54, 108);
    text-align: center;
}

div.rsv h4 {
    font-size: 2em;
}


/*------------------------------------------------------------------------------------- */


/* font size and others all sub-title */


/*------------------------------------------------------------------------------------- */

h3.servicesHealthTitle,
h3.servicesDisabilitiesTitle,
h3.servicesOtherTitle {
    font-size: 3vw;
    background-color: rgba(42, 80, 75, 0.6);
    border-radius: 5px;
    padding: 25px;
    color: rgba(19, 54, 108);
    text-align: center;
    margin-top: 0px;
}

h2.todayAtYokoso {
    font-size: 3vw;
    clear: both;
    font-weight: bold;
    color: rgba(19, 54, 108);
    text-align: center;
}

h2.rsv,
h2.transportationDetail,
h2.mapTitle {
    font-size: 3vw;
    clear: both;
    font-weight: bold;
    color: rgba(19, 54, 108);
    text-align: center;
    background-color: rgba(42, 80, 75, 0.6);
    border-radius: 5px;
    padding: 25px;
    margin-top: 0px;
}

.ticketsType h2 {
    font-size: 2vw;
    font-weight: bold;
    color: #13366c;
    text-align: center;
    background-color: rgba(42, 80, 75, 0.6);
    padding: 20px;
}


/* ------------------------------------------------------------------------------------- */


/* font size all content */


/* ------------------------------------------------------------------------------------- */

ul.todayAtYokoso,
p.todayAtYokoso {
    font-size: 2vw;
}

p.asLowAs {
    font-size: calc(8px + 1.2vw);
    color: rgb(7, 119, 22);
    font-weight: bold;
}

.features {
    font-size: calc(8px + 1.4vw);
}

.tktQty,
.tkt,
.ticketsFeatures {
    font-size: calc(8px + 1.2vw);
}


/* ------------------------------------------------------------------------------------- */


/* font(other than family) for main section and subsection headings  */


/* ------------------------------------------------------------------------------------- */

div.rsv p {
    font-size: calc(8px + 1.4vw);
    font-weight: normal;
    color: black;
    text-align: left;
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
}


/* ------------------------------------------------------------------------------------- */


/* top sections today and contacts layout*/


/* ------------------------------------------------------------------------------------- */

.todayContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    line-height: 45px;
    border-top: 19px solid #2196F3;
    padding-top: 35px;
    padding-bottom: 10px;
}

img.todayContacts {
    width: auto;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    margin-right: 1%;
    margin-left: 10%;
    border-radius: 50px;
}

p.todayAtYokoso,
ul.todayAtYokoso {
    list-style-type: none;
}

h1.todayAtYokoso {
    text-align: center;
    color: blue;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
}


/* ------------------------------------------------------------------------------------- */


/* first aside for reservations <detail> */


/* ------------------------------------------------------------------------------------- */

aside #reservationsProtocol,
summary.rsvProtocol {
    text-align: center;
    font-size: 2vw;
}

summary.rsvProtocol {
    text-align: center;
    font-size: 1.5vw;
    font-style: italic;
    padding: 4px;
    width: max-content;
    background-color: #EEEEEE;
    border: none;
    box-shadow: 10px 10px 20px #bbbbbb;
    cursor: pointer;
    display: block;
    margin: auto;
    cursor: pointer;
}

table.instrTable {
    font-size: calc(8px + 1.2vw);
    border: none;
    background-color: rgba(97, 173, 152, 0.6);
    margin-left: 440px;
    text-align: left;
}

summary.rsvProtocol:hover {
    background-color: #ccc;
}


/* ------------------------------------------------------------------------------------- */


/* tickets section layout */


/*------------------------------------------------------------------------------------- */

.ticketsAll {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #eaf1f8;
    text-align: left;
}

.tktImg {
    width: 70%;
    height: auto;
    margin-left: 20px;
}

.ticketsFeatures {
    margin-left: 10px;
    text-align: left;
}


/* ------------------------------------------------------------------------------------- */


/* buy now buttons layout */


/* ------------------------------------------------------------------------------------- */

.buyNow {
    display: block;
    background: #13366c;
    color: #f8e803;
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
    box-shadow: 2px 2px rgb(141, 139, 139);
    text-align: center;
    width: 18vw;
    height: 2.4vw;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 4px;
}

.buyNow2 {
    display: block;
    background: #13366c;
    color: #f8e803;
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
    box-shadow: 2px 2px rgb(141, 139, 139);
    text-align: center;
    width: 18vw;
    height: 2.4vw;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 4px;
}

.buyNow3 {
    display: block;
    background: #13366c;
    color: #f8e803;
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
    box-shadow: 2px 2px rgb(141, 139, 139);
    text-align: center;
    width: 18vw;
    height: 2.4vw;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 4px;
}

.buyNow4 {
    display: block;
    background: #13366c;
    color: #f8e803;
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
    box-shadow: 2px 2px rgb(141, 139, 139);
    text-align: center;
    width: 18vw;
    height: 2.4vw;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 4px;
}


/* ------------------------------------------------------------------------------------- */


/* ticket price, qty layout */


/* ------------------------------------------------------------------------------------- */

.tktQty {
    /*container div, cell div follows*/
    display: table;
    width: fit-content;
    table-layout: fixed;
    border-spacing: 10px;
    margin-left: 30px;
}

.tkt {
    /*cell  div*/
    display: table-cell;
}


/* ------------------------------------------------------------------------------------- */


/*health services layout*/


/* ------------------------------------------------------------------------------------- */

.servPic {
    width: 70%;
    height: auto;
}

.container1 {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 30px;
    border-top: 19px solid #2196F3;
    margin: -10px;
    align-items: normal;
}

.item11 {
    grid-row: 1 /3;
    grid-column: 1 / 1;
    margin-bottom: 0%;
    margin-top: 0;
    margin-right: 20px;
}

.item12 {
    grid-row: 1 / 1;
    grid-column: 2 /2;
}

.item13 {
    grid-row: 1 / 1;
    grid-column: 3 / 3;
}

.item14 {
    grid-row: 1 / 1;
    grid-column: 4 / 4;
}

.item15 {
    grid-row: 2/ 2;
    grid-column: 2 / 2;
}

.item16 {
    grid-row: 2 / 2;
    grid-column: 3/ 3;
}

.item17 {
    grid-row: 2 / 2;
    grid-column: 4 / 4;
}

.servicesHealthTitle h3,
.servicesDisabilitiesTitle h3,
.servicesOtherTitle h3 {
    width: 90%;
}


/* ------------------------------------------------------------------------------------- */


/*accesibility  services layout*/


/* ------------------------------------------------------------------------------------- */

.container2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 30px;
    border-top: 19px solid #2196F3;
    margin: 0px;
    align-items: normal;
}

.item21 {
    grid-row: 1 /3;
    grid-column: 4 / 4;
    text-align: left;
    margin-bottom: 0%;
    margin-top: 0;
}

.item22 {
    grid-row: 1 / 1;
    grid-column: 1 /1;
}

.item23 {
    grid-row: 1 / 1;
    grid-column: 3 / 3;
    padding-left: 0px;
}

.item24 {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    padding-left: 42px;
}

.item25 {
    grid-row: 2/ 2;
    grid-column: 1 / 1;
}

.item26 {
    grid-row: 2 / 2;
    grid-column: 3/ 3;
}

.item27 {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    padding-left: 42px;
}


/* ------------------------------------------------------------------------------------- */


/*other  services layout*/


/* ------------------------------------------------------------------------------------- */

.container3 {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 30px;
    border-top: 19px solid #2196F3;
    margin: -10px;
}

.item31 {
    grid-row: 1 /3;
    grid-column: 1 / 1;
    text-align: left;
    margin-bottom: 0%;
    margin-top: 0px;
    margin-right: 20px;
}

.item32 {
    grid-row: 1 / 1;
    grid-column: 2 /2;
}

.item33 {
    grid-row: 1 / 1;
    grid-column: 3 / 3;
}

.item34 {
    grid-row: 1 / 1;
    grid-column: 4 / 4;
}

.item35 {
    grid-row: 2/ 2;
    grid-column: 2 / 2;
}

.item36 {
    grid-row: 2 / 2;
    grid-column: 3/ 3;
}

.item37 {
    grid-row: 2 / 2;
    grid-column: 4 / 4;
}


/*-------------------------------------------------------------------------------------*/


/* map and parking lot layout */


/*-------------------------------------------------------------------------------------*/

.map {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    text-align: center;
}

.parkingLot {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    text-align: center;
}

div.transportation {
    border-bottom: 19px solid #2196F3;
}


/* ------------------------------------------------------------------------------------- */


/* Reservations layout */


/* ------------------------------------------------------------------------------------- */

.reservation {
    display: grid;
    grid-template-columns: 30% auto auto;
    margin: 0px;
    padding: 100px;
    border-top: 19px solid #2196F3;
}

.ckAvailability {
    display: inline-block;
    background: #13366c;
    color: #f8e803;
    font-weight: bold;
    font-size: 1.8vw;
    text-decoration: none;
    box-shadow: 2px 2px rgb(141, 139, 139);
    text-align: center;
    width: 18vw;
    height: 2.4vw;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 4px;
}

.makeReservation {
    display: inline-block;
    background: #13366c;
    color: #f8e803;
    font-weight: bold;
    font-size: 1.8vw;
    text-decoration: none;
    box-shadow: 2px 2px rgb(141, 139, 139);
    text-align: center;
    width: 18vw;
    height: 2.4vw;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 4px;
}

p.getTkts,
p.getTkts a {
    display: inline-block;
    background: #13366c;
    color: #f8e803;
    font-weight: bold;
    font-size: 1.8vw;
    text-decoration: none;
    box-shadow: 2px 2px rgb(141, 139, 139);
    text-align: center;
    width: 18vw;
    height: 2.4vw;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 4px;
}

.capRsv {
    text-align: center;
    margin-left: 50px;
}

.rsvImg {
    width: 80%;
    height: auto;
    margin-left: 20px;
}


/* ------------------------------------------------------------------------------------- */


/*end of style for page 3.html*/


/* ------------------------------------------------------------------------------------- */


/* 7. Page: Attractions */

.shows {
    font-family: 'Roboto', sans-serif;
}

.ride {
    font-family: 'Roboto', sans-serif;
}

.attractionsImage {
    position: relative;
    text-align: left;
    opacity: 0.8;
}

#featuredAttraction {
    font-family: "Chewy", cursive;
    text-align: center;
    /* background-color: #61ad9890;*/
    border-radius: 5px;
}

.neon2 {
    color: #13366c;
    font-size: calc(10px + 3vw);
    text-shadow: 0 0 5px #61ad98, 0 0 10px #61ad98, 0 0 20px #61ad98, 0 0 40px #61ad98, 0 0 80px #61ad98, 0 0 90px #61ad98, 0 0 200px #61ad98, 0 0 300px #61ad98;
}

.ridesShowsTitle {
    font-family: "Chewy", cursive;
    text-align: center;
    font-size: calc(8px + 1.4vw);
    color: rgba(42, 80, 75);
    background-color: #61ad9890;
    border-radius: 5px;
}

.rideShowTitle {
    font-family: "Chewy", cursive;
    text-align: left;
    font-size: 36px;
    color: purple;
}

.attractionRideDescription {
    font-family: "Chewy", cursive;
    text-align: left;
    font-size: calc(8px + 1.4vw);
    color: black;
}

.grid-container-attractions-1 {
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #61ad9890;
    padding: 10px;
}

.grid-item-attractions-1 {
    background-color: #61ad9890;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: center;
}

.grid-container-attractions {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #61ad9890;
    padding: 10px;
}

.grid-item-attractions {
    background-color: #61ad9890;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: left;
}

.imageresponsive-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 40%;
    max-height: 40%;
    z-index: -1;
}

.imageresponsive-attractions {
    float: right;
    margin-right: 2rem;
    max-width: 40%;
    max-height: 40%;
    z-index: -1;
}

.attractions-text {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 0.8vw);
}


/* 8. Page: Services */

#contacts,
#security,
#connected,
#about,
#services {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: rgba(19, 54, 108);
    margin-bottom: 1rm;
}

.imageresponsive-services {
    float: right;
    max-width: 20%;
    max-height: 20%;
    z-index: -1;
}

.services-page {
    padding: 3em;
    margin: 3em;
}

.services-text {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1vw);
}


/* 9. Footer */

.footerLink {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(1rem, 15rem));
    grid-gap: 4px;
    border-width: 0px;
    background-color: rgba(24, 125, 207, 0.7);
    color: rgb(19, 54, 108);
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 0.8vw);
    font-weight: bold;
    text-align: left;
    padding: 1px 1px;
    text-decoration: none;
}

.footerLink>a:hover {
    background-color: #61ad98aa;
}


/* 10. Responsive */

@media screen and (max-width: 1000px) {
    li>a {
        padding: 4px 50px;
    }
}

@media screen and (max-width: 900px) {
    li>a {
        padding: 4px 46px;
    }
}

@media screen and (max-width: 800px) {
    li>a {
        padding: 4px 42px;
    }
}

@media screen and (max-width: 700px) {
    li>a {
        padding: 4px 38px;
    }
}

@media screen and (max-width: 600px) {
    li>a {
        padding: 3.6px 34px;
    }
}

@media screen and (max-width: 500px) {
    li>a {
        padding: 3.6px 30px;
    }
}

@media screen and (max-width: 400px) {
    li>a {
        padding: 3.2px 26px;
    }
}

@media screen and (max-width: 300px) {
    li>a {
        padding: 3.2px 22px;
    }
}

@media screen and (max-width: 200px) {
    li>a {
        padding: 2.8px 18px;
    }
}

@media screen and (max-width: 100px) {
    li>a {
        padding: 2.8px 14px;
    }
}